{% extends 'base.html.twig' %}

{% block title %}Editer bouteille de récupération{% endblock %}

{% block body %}
<section class="regular-container">

    <div class="header-title-container">
        <h1>
            Modifier une bouteille
        </h1>
    </div>

    {{ include('recovery_containers/_form_edit.html.twig', {'button_label': 'Update'}) }}

</section>

{% endblock %}
