{% extends 'base.html.twig' %}

{% block title %}Créer une bouteille de récupération{% endblock %}

{% block body %}
<section class="regular-container">

    <div class="header-title-container">
        <h1>
            Enregistrer une bouteille de récupération
        </h1>
    </div>
        
    {{ include('recovery_containers/_form.html.twig') }}

</div>


{% endblock %}
