{% extends 'base.html.twig' %}

{% block title %}Editer bouteille neuve{% endblock %}

{% block body %}

<section class="regular-container">
    <div class="header-title-container">
        <h1>
            Rapporter une bouteille
        </h1>
    </div>
        {{ include('new_containers/_form_edit.html.twig') }}

</section>

{% endblock %}
