{% extends 'base.html.twig' %}

{% block title %}New NewContainers{% endblock %}

{% block body %}
<div class="container mx-auto mt-24 px-4">
    <div class="grid w-full justify-center">
        <h1 class="text-2xl text-gray-800 font-bold m-4 ">
            Enregistrer une bouteille
        </h1>
    </div>
        {{ include('new_containers/_form.html.twig') }}

</div>
{% endblock %}
