{% extends 'base.html.twig' %}

{% block title %}Créer bouteille neuve{% endblock %}

{% block body %}
<section class="regular-container">

    <div class="header-title-container">
        <h1>
            Enregistrer une bouteille neuve
        </h1>
    </div>
    
        {{ include('new_containers/_form.html.twig') }}

</section
{% endblock %}
