{% extends 'base.html.twig' %}

{% block title %}New NewContainers{% endblock %}

{% block body %}
<div class="container mx-auto mt-24 mb-12 px-4 justify-center">
    <div class="grid w-full">
        <h1 class="text-2xl text-center text-gray-800 font-bold m-4 ">
            Enregistrer une bouteille neuve
        </h1>
    </div>
        {{ include('new_containers/_form.html.twig') }}

</div>
{% endblock %}
