{% extends 'base.html.twig' %}

{% block title %}Edit Tools{% endblock %}

{% block body %}
<div class="container mx-auto mt-24 px-4">
    <div class="grid w-full justify-center">
        <h1 class="text-2xl text-gray-800 font-bold m-4 ">
            Modifier un appareil
        </h1>
    </div>
       
    {{ include('tools/_edit_form.html.twig') }}

    

</div>
  

{% endblock %}
