{% extends 'base.html.twig' %}

{% block title %}New Tools{% endblock %}

{% block body %}
<div class="container mx-auto justify-center mt-24 px-4">
    <div class="grid w-full ">
        <h1 class="text-2xl text-gray-800 text-center font-bold m-4 ">
            Créer un appareil
        </h1>
    </div>
       
    {{ include('tools/_form.html.twig') }}

</div>

{% endblock %}
