{% extends 'base.html.twig' %}

{% block title %}New Tools{% endblock %}

{% block body %}
<div class="container mx-auto mt-24 px-4">
    <div class="grid w-full justify-center">
        <h1 class="text-2xl text-gray-800 font-bold m-4 ">
            Créer un appareil
        </h1>
    </div>
       
    {{ include('tools/_form.html.twig') }}

</div>

{# <script>

    const btn = document.querySelector('.btn-green-validation')

    function btn.onclick = () => {
        console.log(btn)
    }

</script> #}
{% endblock %}
