{% extends 'base.html.twig' %}

{% block title %}Créer un mouvement de bouteille neuve{% endblock %}

{% block body %}
<section class="regular-container">

    <div class="header-title-container">
        <h1>
            Enregistrer une charge
        </h1>
    </div>

    {{ include('new_containers_movements/_form.html.twig') }}

</section>


{% endblock %}
