{% extends 'base.html.twig' %}

{% block title %}Créer un mouvement bouteille de récupération{% endblock %}

{% block body %}
<section class="container mx-auto mt-24 md:mt-1 px-4">
    <div class="header-title-container">
        <h1>
            Enregistrer une récupération
        </h1>
    </div>
        {{ include('recovery_containers_movements/_form.html.twig') }}

</section>



    


{% endblock %}
