{% extends 'base.html.twig' %}

{% block title %}Modifier fournisseur{% endblock %}

{% block body %}
<section class="regular-container">

    <div class="header-title-container">
        <h1>
            Modifier un fournisseur
        </h1>
    </div>

    {{ include('vendors/_form.html.twig') }}

</section>
{% endblock %}
