{% extends 'base.html.twig' %}

{% block title %}Retourner une bouteille de transfert{% endblock %}

{% block body %}
<section class="regular-container">

    <div class="header-title-container">
        <h1>
            Rapporte une bouteille 
        </h1>
    </div>
       
    {{ include('transfer_containers/_return_form.html.twig') }}

</section>

{% endblock %}
