{% extends 'base.html.twig' %}

{% block title %}Créer une bouteille de transfert{% endblock %}

{% block body %}
<section class="regular-container">

    <div class="header-title-container">
        <h1>
            Créer une bouteille de transfert
        </h1>
    </div>
       
    {{ include('transfer_containers/_form.html.twig') }}

</section>

{% endblock %}
