{% extends 'base.html.twig' %}

{% block title %}Modifier une bouteille de transfert{% endblock %}

{% block body %}
<section class="container mx-auto mt-24 md:mt-1 px-4">

    <div class="header-title-container">
        <h1>
            Réserver bouteille {{transferContainer.number}}
        </h1>
    </div>
       
    {{ include('transfer_containers/_use_form.html.twig') }}

</section>


{% endblock %}
