{% extends 'base.html.twig' %}

{% block title %}Menu{% endblock %}

{% block body %}

<section class="card-menu-container">

    <div class="card-menu-container-title">
        <h1>
            Sélectionner un item
        </h1>
    </div>
    <div class="flex flex-col sm:flex-row justify-center">
    {# container #}
        <div class="card-menu">
            <a  href="{{ path('app_container')}}">
                <div class="flex flex-col justify-center">
                    <h5 class="title-card-menu">Bouteilles</h5>
                    <img class="img_card-menu" src="{{ asset('images/menuBte.png')}}" alt="" />
                </div>
            </a>
        </div>

    {# Tools #}

        <div class="card-menu">
            <a href="{{ path('app_tools_index')}}" >      
                <div class="flex flex-col justify-center">
                    <h5 class="title-card-menu">Outillage</h5>
                    <img class=" img_card-menu " src="{{ asset('images/tools.png')}}" alt="" />
                </div>
            </a>
        </div>
    </div>



</section>

{% endblock %}
